<div class="modal fade" id="editRideModal{{ride.id}}" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="editRideModalLabel{{ride.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editRideModalLabel{{ride.id}}">Edit Ride</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" action="/editRide/{{ride.id}}" method="POST">
                    <div class="col-md-6">
                        {{form.id.label(class_='form-label')}}
                        {{form.id(class_='form-control input-shadow form-ismat', placeholder='Id')}}
                    </div>
                    <div class="col-md-6">
                        {{form.user_id.label(class_='form-label')}}
                        {{form.user_id(class_='form-control input-shadow form-ismat', placeholder='User Id')}}
                    </div>
                    <div class="col-md-6">
                        {{form.vehicle_id.label(class_='form-label')}}
                        {{form.vehicle_id(class_='form-control input-shadow form-ismat', placeholder='Vehicle Id')}}
                    </div>
                    <div class="col-md-6">
                        {{form.date.label(class_='form-label')}}
                        {{form.date(class_='form-control input-shadow form-ismat', placeholder='Ride Date')}}
                    </div>
                    <div class="col-md-6">
                        {{form.hour.label(class_='form-label')}}
                        {{form.hour(class_='form-control input-shadow form-ismat', placeholder='Ride Hour')}}
                    </div>
                    <div class="col-md-6">
                        {{form.seats.label(class_='form-label')}}
                        {{form.seats(class_='form-control input-shadow form-ismat', placeholder='Available Seats')}}
                    </div>
                    <div class="col-md-6">
                        {{form.status.label(class_='form-label')}}
                        {{form.status(class_='form-control input-shadow form-ismat', placeholder='Status')}}
                    </div>
                    <div class="col-md-6">
                        {{form.origin.label(class_='form-label')}}
                        {{form.origin(class_='form-control input-shadow form-ismat', placeholder='Ride Origin')}}
                    </div>
                    <div class="col-md-6">
                        {{form.destination.label(class_='form-label')}}
                        {{form.destination(class_='form-control input-shadow form-ismat', placeholder='Ride
                        Destination')}}
                    </div>
                    <div class="col-md-6">
                        {{form.description.label(class_='form-label')}}
                        {{form.description(class_='form-control input-shadow form-ismat', placeholder='Description')}}
                    </div>
                    <div class="col-md-6">
                        {{form.created_at.label(class_='form-label')}}
                        {{form.created_at(class_='form-control input-shadow form-ismat', placeholder='Created At')}}
                    </div>
                    <div class="col-md-6">
                        {{form.updated_at.label(class_='form-label')}}
                        {{form.updated_at(class_='form-control input-shadow form-ismat', placeholder='Updated At')}}
                    </div>
                    <div class="col-12 d-grid">
                        <button type="submit" class="btn-ismat-large">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
